@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: #000202;
}
.mainContent {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* For tablet screens */
@media (maxwidth: 991.98px) {
  .row-cols-3 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* For mobile screens */
@media (maxwidth: 767.98px) {
  .row-cols-3 {
    flex-direction: column;
  }
}

.custom-background {
  background-image: url("../src/assets/herobg.jpg");
}
.header_section {
  background-position: center;
}

.contact-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.contact-content {
  position: relative;
  z-index: 1;
}

/* Style the StarsCanvas to cover the entire contact component */
.StarsCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Rest of your styles */

/* Add any other necessary styles for your contact form content */

:root {
  --primary-color: #000000;
  --secondary-color: #c3c0d5;
  --tertiary-color: #007e88;
  --blue-100: "#07E2F4";
  --black-100: "#100d25";
  --black-200: "#090325";
  --white-100: "#f3f3f3";
}

/* Using the custom color variables */

.my-custom-button {
  background-color: #007e88;
  border-color: #c3c0d5;
  color: #c3c0d5;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.my-custom-button:hover {
  background-color: #c3c0d5;
  border-color: #c3c0d5;
  color: #007e88;
}

.my-custom-button.loading {
  background-color: #c3c0d5;
  border-color: #c3c0d5;
  color: #007e88;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

#skills {
  padding-bottom: 20px;

  padding-top: 20px;
}
#skills h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.slider-container {
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 10px;
  flex-direction: column;

  border: 0.1px solid #eaeaea;

  box-sizing: border-box;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 40px;
  display: block;
  margin: auto;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.custom-arrow-left {
  left: -50px;
}

.custom-arrow-right {
  right: -50px;
}
.slick-dots {
  display: none !important;
}

@media (maxwidth: 767px) {
  .slider-container {
    padding: 20px;
  }

  .slide {
    height: 80px;
  }

  .slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
    padding: 20px;
  }

  .custom-arrow-left {
    left: -40px;
  }

  .custom-arrow-right {
    right: -40px;
  }
  .slick-dots {
    display: none !important;
  }
}

/*------------------projects--------------------*/

.projects-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 30px;
}

#projects {
  padding-top: 20px;
  padding-bottom: 20px;
}

#projects h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  color: white;
}
.project-container {
  width: 40%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000202;
  border-radius: 5px;
  color: white;
  margin-bottom: 30px;
}

.project-image-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;

  margin-bottom: 20px;
  border: 0.1px solid #02e3f4;
}

.project-info {
  text-align: center;
  margin-bottom: 20px;
}

.project-info h3 {
  margin-bottom: 5px;
}

.project-info p {
  margin-bottom: 0;
  text-align: justify;
}
.project-link img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}
.image-button {
  width: 40%;
  align-items: center;
  align-self: center;
  align-content: center;
}

@media (maxwidth: 767px) {
  .projects-container {
    flex-direction: column;
    gap: 10px;
  }

  .project-container {
    width: 100%;
    padding: 0 20px;
  }

  .project-link img {
    max-width: 70%;

    object-fit: contain;
    margin-bottom: 20px;
  }

  .project-info {
    margin-bottom: 10px;
  }

  .image-button {
    width: 40%;
  }
}

/*-------------------Content---------------------*/
.content {
  padding: 5rem 15rem;
  background-color: white;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.project-container-new {
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 20px 40px;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
}

.project-content-image {
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.image-div {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  flex-shrink: 0;
}

.project-text {
  flex: 1;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
}

.content a {
  color: #007bff;
  text-decoration: none;
}

.content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.content li {
  margin-bottom: 5px;
}

@media (maxwidth: 767px) {
  .content {
    padding: 2rem;
  }

  .content h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .project-container-new {
    padding: 12px 24px;
  }

  .content p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  .content ul {
    margin-left: 16px;
  }
}

/*------------------footer/contact--------------------*/

#contact_me {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  background-color: #15102f;
  color: #fff;
  text-align: center;
}

#contact_me h2 {
  text-align: center;

  margin-bottom: 30px;
}

#contact_me div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

#contact_me p {
  margin-bottom: 0;
}

#contact_me a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

#contact_me a:hover {
  color: #87ceeb;
}

#contact_me .social-media {
  width: 50px;
}

@media (maxwidth: 767px) {
  #contact_me {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #contact_me div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }

  #contact_me .social-media {
    width: 40px;
  }
}

/*--------------------------------------*/
